@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
input, button {
    margin-top: 10px;
}

.textoIngresado{
    color: #0A3871;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    border: none;
    max-width: 680px; 
    min-width: 300px;
}

.textoIngresado::placeholder{
    color: #0A3871;

}