@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    /* Dark Blue */
    --dark-blue-100: #609ed4;
    --dark-blue-200: #356ea9;
    --dark-blue-300: #0a3871;
    --dark-blue-400: #072b61;
    --dark-blue-500: #052051;

    /* Light Blue */
    --light-blue-100: #f3f5fc;
    --light-blue-200: #eff1fa;
    --light-blue-300: #e9ecf8;
    --light-blue-400: #aab2d5;
    --light-blue-500: #757fb2;

    /* Gray */
    --gray-100: #ced4da;
    --gray-200: #adb5bd;
    --gray-300: #868e96;
    --gray-400: #495057;
    --gray-500: #343a40;

    /*otros*/
    --blanco: #ffffff;

    /*Fuente de Texto*/
    --texto-inter: "Inter", sans-serif;
}

.cuerpo {
    background-color: var(--light-blue-100);
}

.logo {
    width: 120px;
    height: 48px;
}


.contenido {
    margin: 40px;
    display: flex;
    flex-direction: row;
    gap: 80px;
    height: 944px;
    padding: 0;
    justify-content: space-between;

}

.contenido__principal {
    display: flex;
    flex-direction: row;
    gap: 80px;
    width: calc(100% + (2 / 3 * 100%));
}

.contenido__principal__grupo {
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 157%;
}

.textoIngresado {
    color: #0a3871;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    border: none;
    background-color: #ffffff00;
    max-width: 680px;
    min-width: 100%;

    resize: none;
    height: 80%;
}

.textoIngresado::placeholder {
    color: #0a3871;
}


.contenido__error {
    color: var(--gray-400);
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    padding: 0 0 1rem 0;
}

.contenido__error__icono {
    width: 1rem;
    height: 1rem;
}

.contenido__error__texto {
    font-family: var(--texto-inter);
    font-size: 0.75rem;
    font-weight: 400;
    margin: 0;
}

.contenido__botones {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 0 0 2rem 0;
}

.contenido__botones__cifrar {
    background-color: var(--dark-blue-300);
    color: var(--blanco);
    width: 50%;
    border-radius: 1.5rem;
    padding: 1.5rem;

    font-family: var(--texto-inter);
    font-size: 1rem;
    font-weight: 400;
}

.contenido__botones__cifrar:hover {
    background-color: var(--dark-blue-400);
}

.contenido__botones__descifrar {
    background-color: var(--blanco);
    color: var(--dark-blue-300);
    width: 50%;
    border-radius: 1.5rem;
    border-style: solid;
    border-color: var(--dark-blue-300);
    border-width: 1px;

    font-family: var(--texto-inter);
    font-size: 1rem;
    font-weight: 400;
}

.contenido__botones__descifrar:hover {
    background-color: var(--light-blue-200);
}

.contenido__secundario {
    width: 100%;
    border-radius: 32px;
    background-color: var(--blanco);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

    align-content: center;
}

.contenido__secundario__grupo {
    padding: 0 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 32px;
    /*Oculta el elemento y el espacio colapsa*/
    display: none;
}

.contenido__secundario__grupo__texto {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

.contenido__secundario__grupo__texto__titulo {
    font-family: var(--texto-inter);
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--gray-500);
    margin: 0;
}

.contenido__secundario__grupo__texto__parrafo {
    font-family: var(--texto-inter);
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray-400);
    margin: 0;
}

.contenido__secundario__resultado {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    justify-content: space-between;
    height: 90%;

}

.contenido__secundario__resultado__texto {
    font-family: var(--texto-inter);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--gray-400);
    border: none;

    resize: none;
    height: 87%;
}

.boton__copiar {
    width: 100%;
    padding: 1.5rem;
    border-radius: 1.5rem;
    border-color: var(--dark-blue-300);
    border-style: solid;
    border-width: 1px;
    background-color: var(--blanco);
    color: var(--dark-blue-300);
    font-family: var(--texto-inter);
    font-size: 1rem;
    font-weight: 400;
}

.boton__copiar:hover {
    background-color: var(--light-blue-200);
}
